*, html, body{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
}

iframe {
	border: 0;
	position: absolute;
	background: #fff;
	opacity: 0;
	transition: opacity 300ms;
}

body.dim-low{
	opacity: .9;
}
body.dim-medium{
	opacity: .7;
}
body.dim-high{
	opacity: .5;
}
body.dim-insane{
	opacity: .3;
}

.top-left{
	width: 50%;
	height: 50%;
	top: 0px;
	left: 0px;
}

.top-right{
	width: 50%;
	height: 50%;
	top: 0px;
	right: 0px;
}

.bottom-left{
	width: 50%;
	height: 50%;
	bottom: 0px;
	left: 0px;
}

.bottom-right{
	width: 50%;
	height: 50%;
	bottom: 0px;
	right: 0px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  opacity: 0;
  transition: opacity 500ms;
}
::-webkit-scrollbar:hover {
  opacity: 1;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border: 0px none #666666;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border: 0px none #222222;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e2e2e2;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}