*, html, body{
	margin: 0;
	padding: 0;
}

html, body, #container{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
}

.logo {
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: transparent url(img/logo.png) 50% 50% no-repeat;
	margin: auto;
}

.iframe-container {
	position: absolute;
}

.iframe-container .alert-message {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 3;
	opacity: .8;
}

webview,
iframe {
	border: 0;
	position: absolute;
	background: #fff;
	opacity: 0;
	transition: opacity 300ms;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

#container.dim-low{
	opacity: .9;
}
#container.dim-medium{
	opacity: .7;
}
#container.dim-high{
	opacity: .5;
}
#container.dim-insane{
	opacity: .3;
}

.top-left{
	width: 50%;
	height: 50%;
	top: 0px;
	left: 0px;
}

.top-right{
	width: 50%;
	height: 50%;
	top: 0px;
	right: 0px;
}

.bottom-left{
	width: 50%;
	height: 50%;
	bottom: 0px;
	left: 0px;
}

.bottom-right{
	width: 50%;
	height: 50%;
	bottom: 0px;
	right: 0px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  opacity: 0;
  transition: opacity 500ms;
}
::-webkit-scrollbar:hover {
  opacity: 1;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #222222;
  border: 0px none #666666;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #e2e2e2;
  border: 0px none #222222;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e2e2e2;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


@-moz-keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes three-quarters-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes three-quarters-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.three-quarters-loader:not(:required) {
	-moz-animation: three-quarters-loader 1250ms infinite linear;
	-webkit-animation: three-quarters-loader 1250ms infinite linear;
	animation: three-quarters-loader 1250ms infinite linear;
	border: 8px solid #f2f2f2;
	border-right-color: transparent;
	border-radius: 16px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}

.iframe-container .spinner {
	z-index: 20;
	position: absolute;
	top: 2%;
	right: 2%;
	width: 52px;
	height: 42px;
	padding: 5px 10px;
	transition: opacity 300ms;

	border-radius: 12px;
	background: rgba(34,34,34,.6);
}