::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #323232;
  border: 1px none #000000;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
::-webkit-scrollbar-thumb:active {
  background: #505050;
}
::-webkit-scrollbar-track {
  background: #222222;
  border: 0px none #222222;
  border-radius: 8px;
}
::-webkit-scrollbar-track:hover {
  background: #2a2a2a;
}
::-webkit-scrollbar-track:active {
  background: #2a2a2a;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

html, body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#editor {
	margin: 0;
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}
pre {
	border-radius: 0;
	margin: 0;
	padding: 0;
	border: none;
}

#alertBox {
	position: absolute;
	top: 2%;
	right: 2%;
	width: 25%;
	min-height: 5%;
	z-index: 2000;
}

.btn {
	padding: 0px 8px;
}
.app-bar {
	/*background: #444;*/
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	color: #eee;
	padding: 1px 5px;
	height: 25px;
}

.app-bar .btn {
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%);
	border: none;
	color: #eee;
}

.buttons-group {
	float: left;
	border-left: 1px solid #666;
	border-right: 1px solid #444;
	padding-left: 10px;
	padding-right: 10px;
}

.buttons-group:first-child {
	border-left: none;
	padding-left: 0px;
}

.buttons-group:last-child {
	border-right: none;
	padding-right: 0px;
}

#version {
	position: absolute;
	top: 0;
	right: 0;
	font-style: italic;
	color: white;
	padding: 3px;
}